alabaster==0.7.13
babel==2.16.0
certifi==2024.8.30
charset-normalizer==3.3.2
docutils==0.19
idna==3.8
imagesize==1.4.1
importlib_metadata==8.4.0
Jinja2==3.1.4
latexcodec==3.0.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.2
mock==5.1.0
-e git+ssh://git@github.com/nicogravel/UNICOG_ResearchLog.git@453557e2b3b3e7e4ecb245de5b9a1523fca4feea#egg=myCodeIsYourCode
myst-parser==3.0.1
packaging==24.1
pockets==0.9.1
pybtex==0.24.0
pybtex-docutils==1.0.3
Pygments==2.18.0
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.2.0
sphinx-autodoc-typehints==2.0.1
sphinx-disqus==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==2.2.2
zipp==3.20.1
